*
{
  margin: 0;
  padding: 0;
}

body
{
  background-image: url(Tajmahal_greyscale.jpg);
  background-size: cover;
  background-position: center top;
}
.main-nav
{
  float: left;
  list-style: none;
  margin-top:30px;
}

.main-nav li
{
  display:inline-block;
}

.main-nav li a
{
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding-top: 10px
}

.main-nav li.active a
{
  border:1px solid white;
}

.main-nav li a:hover
{
    border: 1px solid white;
}
